{
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": [
        "airbnb-base"
    ],
    "parserOptions": {
        "ecmaVersion": 12,
        "sourceType": "module"
    },
    "plugins": [

    ],
    "rules": {
        "class-methods-use-this": 0,
        "import/no-dynamic-require": 0
    }
}
